body{
    font-family: 'Exo', sans-serif;
}

nav {
    display: flex;
}

.logo {
    position: relative;
    padding-left: 3%;
    font-size: 400%;
}

@media only screen and (max-width: 1000px) {
    .logo {
        position: relative;
        padding-left: 3%;
        font-size: 300%;
    }
    .navlink{
        display: none;
    }
}

.navlink {
    position: fixed;
    left: 80%;
    top: 8%;
    padding: 0;
}

.navlinks {
    display: inline;
}