body{
    font-family: 'Exo', sans-serif;
}

nav {
    display: flex;
}

.logo {
    position: relative;
}

.navlink {
    position: absolute;
    left: 80%;
    padding: 0;
}

.navlinks {
    display: inline;
}