body{
    background-color: rgb(204, 204, 204);
}
#intro{
    font-size: 250%;
}

#introPage{
    text-align: center;
    margin-top: 33%;
    margin-bottom: 33%;
}
#viewMyWork{
    margin-top: 7%;
    margin-bottom: 7%;
}
.col-md-12{
    align-content: center;
}
a {
    color: grey;
    font-size: 50px;
    font-weight: 250;
}
h1 {
    font-size: 60px;
    font-weight: 500;
}
.card{
    margin: 0;
}
.card-img-top{
    height: 190px;
    width: auto;
}
.card-body{
    text-align: center;
}